{% extends 'base.html' %}
{% block title %}
{{ product.title }}
{% endblock %}
{% block breadcrumps %}
<ul class="uk-breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a href="/" itemprop="item">
            <span itemprop="name">Сайт</span>
            <meta itemprop="position" content="0">
        </a>
    </li>
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a href="{% url 'category_list' %}" itemprop="item">
            <span itemprop="name">Каталог</span>
            <meta itemprop="position" content="1">
        </a>
    </li>
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <span itemprop="item">
            <span itemprop="name">{{ product.title }}</span>
            <meta itemprop="position" content="2">
        </span>
    </li>
</ul>
{% endblock %}
{% block content %}
<h1>{{ product.title }}</h1>
<div uk-grid>
    <div uk-lightbox class="uk-width-1-2@m">
        <div>
            <a href="{{ product.image.url }}">
                <img class="uk-width-1-1" data-src="{{ product.image.url }}" alt="{{ product.title }}" uk-img>
            </a>
        </div>
        <div class="uk-margin" uk-grid>
            {% for img in image_list %}
            <div class="uk-width-1-6">
                <a href="{{ img }}">
                    <img data-src="{{ img }}" alt="{{ product.title }}" uk-img>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="uk-width-1-2@m">
        <div>
            <h4>Описание</h4>
            <p>{{ product.full_text | safe }}</p>
            <p class="uk-h3">
                Цена: <b>{{ product.price }}</b> руб.<br>
            </p>
            <a class="uk-button uk-button-primary uk-button-large">Заказать</a>
            </p>
            <h4>Категория</h4>
            <p>
                <a class="uk-button uk-button-primary" href="{{ product.category.get_url }}">{{ product.category.title }}</a>
            </p>
        </div>
    </div>
</div>
{% include 'catalog/include/product_related.html' %}
{% include 'catalog/include/product_nav.html' %}
{% endblock %}